amsmath
babel
caption
capt-of
carlisle
cmap
courier
ec
enumitem
epstopdf
etoolbox
fancyhdr
fancyvrb
float
fncychap
framed
fvextra
geometry
graphics
graphics-cfg
helvetic
hyperref
idxlayout
ifplatform
latex
latex-bin
latexconfig
latex-fonts
latexmk
lineno
lm
marvosym
minitoc
minted
natbib
needspace
oberdiek
parskip
psnfss
subfiles
tabulary
times
titlesec
tools
upquote
url
varwidth
wrapfig
xcolor
xstring
zapfchan
